html {
  /*background: url('./assets/background.png') no-repeat center center fixed;*/
  background: url('https://github.com/ToniMOrban/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/autumn-background.png?raw=true') no-repeat center center fixed;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index:0;
  overflow: hidden;
}

h1 {
  text-align: center;
  font-size: 90px;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: rgb(18, 66, 35);
  -webkit-text-stroke: 2px black;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: rgb(18, 66, 35);
  -webkit-text-stroke: 1px black;
}

h3 {
  margin-bottom: 0px;
  padding: 5px;
  padding-top: 0px;
}

#start {
    text-align: center;
    font-size: 30px;
    position: relative;
    top: -50px;
    margin-top: 20px;
    border-radius: 20px;
    left: -35%;
    border: solid;
    background-color: rgb(69, 119, 69);
    border-width: 3px;
}

#timer{
    color: rgb(18, 66, 35);
}

.difficulty{
  font-size: 20px;
  border: solid;
  background-color: white;
  width: 120px;
  height: 120px;
  color: rgb(0, 0, 0);
  padding-bottom: 20px;
  padding-top: 0px;
  position: relative;
  top: -50px;
  left: -70%;
  border-radius: 5px;
}


.grid {
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  /*cursor: url('./assets/mallet.png'), pointer;*/
}

.cloud {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.cloud:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("https://github.com/ToniMOrban/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/cloud.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 160%;
  position: absolute;
  bottom: -75%;
  z-index: 2;
  pointer-events:none;
}

.leaves {
  flex: 1 0 33.33%;
  overflow: hidden;
  position: relative;
}

.leaves:after {
  display: block;
  /*background: url("./assets/hole.png") bottom center no-repeat;*/
  background: url("https://github.com/ToniMOrban/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/autumn-leaves.png?raw=true") bottom center no-repeat;
  background-size:contain;
  content:'';
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: -40%;
  z-index: 2;
  pointer-events:none;
}

.mole {
  /*background:url('./assets/mole.png') bottom center no-repeat;*/
  background:url('https://github.com/ToniMOrban/js-dev-final-capstone-starter-whack-a-mole/blob/main/assets/corgi.png?raw=true') bottom center no-repeat;
  background-size: 40%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  /*transition: transform 0.5s;*/
  transition: all 1s;
  pointer-events:auto;
}

.hole.show .mole {
  top: 0;
  /*transform: scale(1.1);*/
}


/* classes to make modal work */
.hidden {
  display: none;
}

.modal,
.endModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 120px;

  background-color: rgb(18, 66, 35);
  padding: 6rem;
  border-radius: 5px;
  border: solid;
  border-width: 10px;
  border-color: black;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

/* .endModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 120px;

  background-color: rgb(18, 66, 35);
  padding: 6rem;
  border-radius: 5px;
  border: solid;
  border-width: 10px;
  border-color: black;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
} */

.endModal > h3 {
  width: 180px;
  font-size: 30px;
  position: absolute;
  left: 17%;
  top: 0%;
}

.endModal > p {
  width: 180px;
  font-size: 28px;
  position: absolute;
  left: 20%;
  top: 15%;
}

#start-again {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 90px;
  margin-top: 5px;
  border-radius: 20px;
  left: -35%;
  border: solid;
  background-color: rgb(69, 119, 69);
  border-width: 3px;
}

#change-difficulty {
  text-align: center;
  font-size: 20px;
  position: relative;
  top: 90px;
  margin-top: 5px;
  border-radius: 20px;
  left: -50%;
  border: solid;
  background-color: rgb(69, 119, 69);
  border-width: 3px;
}


.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}
